* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

html {
  -webkit-tap-highlight-color: transparent;
}
:root {
  --primary-color: #402b3a;
  --secondary-color: #ffc1b4;
  --third-color: #ff9bd2;
  --basic-color: #ffffff;
}
body {
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    var(--third-color),
    var(--secondary-color)
  );
}
.container {
  width: 100%;

  padding: 10px;
}
.todo-app {
  width: 100%;
  max-width: 540px;
  min-height: 500px;
  background: var(--basic-color);
  margin: 60px auto 0px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.todo-app h2 {
  font-size: 30px;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img {
  width: 30px;
  margin-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--basic-color);
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  border: 2px solid var(--primary-color);
}
.row input {
  flex: 1;
  outline: none;
  border: none;
  background: transparent;
  font-size: 14px;
  padding: 10px;
}
.row button {
  border: none;
  outline: none;
  padding: 10px 50px;
  background: var(--primary-color);
  color: var(--basic-color);
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 28px;
  background-image: url(image/unchecked.png);
  background-size: 100%;
  background-position: center;
  top: 12px;
  left: 8px;
}
ul li.checked {
  color: var(--primary-color);
  text-decoration: line-through;
}
ul li.checked::before {
  background-image: url(image/checked.png);
}
ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover {
  background: var(--basic-color);
}

.footer {
    width: fit-content;
  font-size: 12px;
  margin: auto;
  color: var(--primary-color);
   text-align: justify;
  font-weight: 400;
}
@media only screen and (max-width: 600px) {
  .todo-app {
    max-width: 440px;
    margin: 80px auto 0px;
    padding: 40px 30px 70px;
  }
  .row button {
    padding: 10px 35px;
  }
}
@media only screen and (max-width: 500px) {
  .todo-app {
    max-width: 400px;
    padding: 40px 20px 70px;
  }
  .todo-app h2 {
    font-size: 25px;
  }
  .row button {
    padding: 10px 30px;
    font-size: 14px;
  }
  ul li {
    font-size: 14px;
    padding: 12px 8px 12px 50px;
  }
  ul li::before {
    height: 25px;
    width: 25px;
  }
  ul li span {
    width: 35px;
    height: 35px;
    font-size: 20px;
  }
  .footer {
    width: 95%;
  }
}

@media only screen and (max-width: 450px) {
  .todo-app {
    max-width: 350px;
    padding: 40px 17px 70px;
  }
  .row button {
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 400px) {
  .todo-app {
    max-width: 330px;
    padding: 40px 12px 70px;
  }
}
@media only screen and (max-width: 350px) {
  .todo-app {
    max-width: 300px;
  }
  .row button {
    padding: 10px 15px;
  }
}
